= render  partial: "/layouts/exhibit-header"
.sign-up-main
  .sign-up-area
    .sign-up-area-top
      新規会員登録
    .sign-up-area-bottom
      = link_to "/signup/signup1", class: "sign-up-btn-mail", style: "text-decoration:none;" do
        %i.far.fa-envelope.sign-up-btn-mail__icon
        .sign-up-btn-mail__text メールアドレスで登録する
      = link_to user_facebook_omniauth_authorize_path, class: "sign-up-btn-fb", style: "text-decoration:none;" do
        %i.fab.fa-facebook-square.sign-up-btn-fb__icon
        .sign-up-btn-fb__text Facebookで登録する
      = link_to user_google_oauth2_omniauth_authorize_path, class: "sign-up-btn-google", style: "text-decoration:none;" do
        %i.fab.fa-google-plus-g.sign-up-btn-google__icon
        .sign-up-btn-google__text Googleで登録する
= render  partial: "/signup/signup.footer"