= render  partial: "signup.header"
.signup4__contents
  .signup4__contents__heading
    支払い方法
  .signup4__contents__main
    -# = form_with(model: @user, url: signup_index_path, id: 'charge-form', name: "inputForm", method: :post, local: true ) do |form|
    = form_tag(signup_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
      .signup4__contents__main__form1
        .signup4__contents__main__form1__heading
          %p カード番号
          %p.essential_icon 必須
        -# = text_field_tag :card_number, placeholder: "半角数字のみ", class: "signup4__contents__main__form1__form"
        = text_field_tag "number", "", class: "signup4__contents__main__form1__form", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
        .signup4__contents__main__form1__icons
          %i.fab.fa-cc-visa
          %i.fab.fa-cc-mastercard
          %i.fab.fa-cc-jcb
          %i.fab.fa-cc-amex
          %i.fab.fa-cc-diners-club
          %i.fab.fa-cc-discover
      .signup4__contents__main__form2
        .signup4__contents__main__form1__heading
          %p 有効期限
          %p.essential_icon 必須
        .signup4__contents__main__form2__form
          %label.signup4__contents__main__form2__form__select
            %select#exp_month{name: "exp_month", type: "text"}
              %option{value: ""} --
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12

          %p.signup4__contents__main__form2__form__date 月
          %label.signup4__contents__main__form2__form__select
            %select#exp_year{name: "exp_year", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
          %p.signup4__contents__main__form2__form__date 年
      .signup4__contents__main__form3
        .signup4__contents__main__form1__heading
          %p セキュリティコード
          %p.essential_icon 必須
        = text_field_tag "cvc", "", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc", class: "signup4__contents__main__form3__form"
        .signup4__contents__main__form3__link
          = link_to "#", class: :"signup4__contents__main__form3__link__text "do
            %i.fas.fa-question-circle
            カード裏面の番号とは?
      .signup4__contents__main__submit
        %label
          = submit_tag "",style: "display: none", id: "token_submit"
          %p.signup4__contents__main__submit__btn 次へ進む
= render  partial: "signup.footer"

