= render partial: "/signup/sign.up.header.only.logo"
.log-in__main
  .acount
    .acount-top
      アカウントをお持ちでない方はこちら
    .sing-up__registration
      = link_to new_user_registration_path , class: "sing-up__new" do
        新規会員登録
  .facebook-google
    = link_to "#", style: "text-decoration:none;" do
      .login__facebook
        %i.fab.fa-facebook-square.login__facebook__icon
        .login__facebook__text Facebookでログイン
    = link_to "#" , style: "text-decoration:none;" do
      .login__google
        %i.fab.fa-google-plus-g.login__google__icon
        .login__google__text Googleでログイン
  .input_fields
    %form#header_email_form.email_form{"accept-charset": "UTF-8", action: "/items/email", "data-remote": "true", method: "post"}
      %input{name: "utf8", type: "hidden", value: "✓"}/
      %input{name: "authenticity_token", type: "hidden", value: "Gb4Ol3trq6vFCosVD2eTACr7OWtGhfI/L54+pQ7j1D1OSid2cfAz9Dk5ZcX1wVlz0BwBhdRTB7ZZ8lBICRCjpg=="}/
      .email
        %input#header_email.email_input{"aria-label": "email", autocomplete: "off", maxlength: "250", name: "header_email", placeholder: "メールアドレス", type: "text"}/
    %form#header_password_form.password_form{"accept-charset": "UTF-8", action: "/items/password", "data-remote": "true", method: "post"}
      %input{name: "utf8", type: "hidden", value: "✓"}/
      %input{name: "authenticity_token", type: "hidden", value: "Gb4Ol3trq6vFCosVD2eTACr7OWtGhfI/L54+pQ7j1D1OSid2cfAz9Dk5ZcX1wVlz0BwBhdRTB7ZZ8lBICRCjpg=="}/
      .password
        %input#header_password.password_input{"aria-label": "password", autocomplete: "off", maxlength: "250", name: "header_password", placeholder: "パスワード", type: "text"}/
    = recaptcha_tags
    .login
      .log-in
        ログイン
    .pass-word
      パスワードをお忘れの方
= render  partial: "/signup/signup.footer"
