%body
  
  = render "layouts/exhibit-header"
  = form_with(model: @item, local: true, class: "item_new_form") do |form|

    .ex-main
      .ex-container
      
        #ex-top-cont.ex-cont
          %span.page-description 商品の情報を入力
        #ex-img-cont.ex-cont
          .ex-indispensable-tmp
            .ex-sentence
              出品画像
            .ex-indispensable
              必須
          %div
            最大１０枚までアップロードできます
          
          = form.fields_for :images do |f|
            = f.label :image, class:"label" do
              #ex-img-form.ex-img-form      
                .icon-zone
                  %span ここをクリックして 
                  %br 画像を選択して下さい
                  %i.fas.fa-camera
                = f.file_field :image, class: 'hidden'
              
        #ex-item-cont.ex-cont
          .ex-indispensable-tmp
            .ex-sentence
              商品名
            .ex-indispensable
              必須
          %div
            = form.text_field :name, placeholder:"商品の名前を記入してください（４０文字まで）"
            .error_message
              

            .ex-indispensable-tmp
              .ex-sentence
                商品の説明
              .ex-indispensable
                必須
            = form.text_area :description, placeholder:"商品の説明を記入してください（１０００文字まで）"

          %div
        #ex-item-cont2.ex-cont
          .ex-blank 商品の詳細
          .ex-rb
            .ex-indispensable-tmp
              .ex-sentence
                カテゴリー
              .ex-indispensable
                必須

            .ex-indispensable-tmp
              .ex-sentence
                商品の状態
              .ex-indispensable
                必須
            = form.collection_select :item_status_id,ItemStatus.all,:id, :name, { include_blank: true, selected: 7 }

        #ex-shipping-cont.ex-cont
          .ex-blank 発送について
          .ex-rb
            .ex-indispensable-tmp
              .ex-sentence
                配送料の負担
              .ex-indispensable
                必須
            = form.collection_select :shipping_fee_defrayer_id, ShippingFeeDefrayer.all, :id, :name, { include_blank: true, selected: 3 }

            .ex-indispensable-tmp
              .ex-sentence
                発送元の地域
              .ex-indispensable
                必須
            = form.collection_select :ship_from_prefecture,Prefecture.all, :id, :name, { include_blank: true, selected: 48 }

            .ex-indispensable-tmp
              .ex-sentence
                発送までの日数
              .ex-indispensable
                必須
            = form.collection_select :ship_date_id, ShipDate.all, :id, :name, { include_blank: true, selected: 4 }

        #ex-price-cont.ex-cont
          .ex-blank 販売価格
          .ex-rb
            #ex-p-box.ex-p-box
              .ex-indispensable-tmp
                .ex-sentence
                  価格（半角数字）
                .ex-indispensable
                  必須
              = form.text_field :price, placeholder:"例）300", class:"ex-p-box", id:"input"

            .ex-p-box#for-error-message
              .ex-divide
                .ex-pbleft
                  販売手数料（１０％）
                .ex-pbright1
                  
            .ex-p-box
              .ex-divide
                .ex-pbleft
                  販売利益
                .ex-pbright2
                  
        #ex-btn-cont.ex-cont
          %div
            = link_to "禁止されている出品","#", class:"ex-rule-link"
            、
            = link_to "行為","#", class:"ex-rule-link"
            を必ずご確認ください。<br>
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売","#", class:"ex-rule-link"
            は犯罪であり処罰される可能性があります。<br>
            また、出品をもちまして
            = link_to "加盟店規約","#", class:"ex-rule-link"
            に同意したことになります。
          = form.submit "変更する", id:"ex-ship-btn"
          
          = form.submit "戻る", id:"ex-ship-return" 

    = render "/signup/signup.footer"


