
= render  partial: "layouts/toppage-header"
.index-main

  #slider.slide
    = image_tag "special_offer.jpg"
  .category_tags
    .category 人気のカテゴリー
    .tags
      .tags__tag= link_to "タグ１", "#" ,class: 'tag_link'
      .tags__tag= link_to "タグ２", "#" ,class: 'tag_link'
      .tags__tag= link_to "タグ３", "#" ,class: 'tag_link'
      .tags__tag= link_to "タグ４", "#" ,class: 'tag_link'
  .block
    .block_top
      .item_category
        新着アイテム
      .more
        = link_to "もっとみる  >", "#" ,id:'more'
    .contents
      - @items.each do |item|
        = link_to("items/#{item.id}", class: 'item_link') do
          .content
            .image
              = image_tag item.images.first.image.url
              - if item.buyer_id.present?
                .sold-label
                %span.sold SOLD
              .price
                #price
                ¥
                =item.price
            .item_name 
              = item.name

= render  partial: "layouts/toppage-footer"