%body

  = render "layouts/exhibit-header"
  = form_with(model: @item, local: true, class: "item_new_form") do |form|

    .ex-main
      .ex-container
      
        #ex-top-cont.ex-cont
          text
        #ex-img-cont.ex-cont
          .ex-indispensable-tmp
            .ex-sentence
              出品画像
            .ex-indispensable
              必須
          %div
            最大１０枚までアップロードできます
          
          = form.fields_for :images do |f|
            = f.label :image, class:"label" do
              #ex-img-form.ex-img-form      
                %ul
                %p ここをクリックして 
                %br 画像を選択して下さい
                = f.file_field :image, class: 'hidden'
              
        #ex-item-cont.ex-cont
          .ex-indispensable-tmp
            .ex-sentence
              商品名
            .ex-indispensable
              必須
          %div
            = form.text_field :name, placeholder:"商品の名前を記入してください（４０文字まで）"
            .error_message
              
            -# = render partial:"layouts/error_message", locals: {item: @item, column: "name"}
            .ex-indispensable-tmp
              .ex-sentence
                商品の説明
              .ex-indispensable
                必須
            = form.text_area :description, placeholder:"商品の説明を記入してください（１０００文字まで）"
            -# = render partial:"layouts/error_message", locals: {item: @item, column: "name" }
          %div
        #ex-item-cont2.ex-cont
          .ex-blank 商品の詳細
          .ex-rb
            .ex-indispensable-tmp
              .ex-sentence
                カテゴリー
              .ex-indispensable
                必須
            -# = form.select :category, ["aaa","bbb","ccc"], { include_blank: true, selected: 1 }
            .ex-indispensable-tmp
              .ex-sentence
                商品の状態
              .ex-indispensable
                必須
            = form.select :item_status, ["新品、未使用品", "未使用に近い", "目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], { include_blank: true, selected: 1 }
            -# = render partial:"layouts/error_message", locals: {item: @item, column: "name"}


              
        #ex-shipping-cont.ex-cont
          .ex-blank 発送について
          .ex-rb
            .ex-indispensable-tmp
              .ex-sentence
                配送料の負担
              .ex-indispensable
                必須
            = form.select :shipping_fee_defrayer, ["送料込み（出品者負担）", "着払い（購入者負担）"], { include_blank: true, selected: 1 }
            -# = render partial:"layouts/error_message", locals: {item: @item, column: "shipping_fee_defrayer"}
            .ex-indispensable-tmp
              .ex-sentence
                発送元の地域
              .ex-indispensable
                必須
            = form.collection_select :ship_from_prefecture,Prefecture.all, :id, :name, { include_blank: true, selected: 1 }
            -# = render "layouts/error_message", locals: {item: @item, column: "ship_form_prefecture"}
            .ex-indispensable-tmp
              .ex-sentence
                発送までの日数
              .ex-indispensable
                必須
            = form.select :ship_date, ["1-2日","2-3日","4-7日"], { include_blank: true, selected: 1 }
            -# = render "layouts/error_message", locals: {item: @item, column: "ship_date"}
        #ex-price-cont.ex-cont
          .ex-blank 販売価格
          .ex-rb
            #ex-p-box.ex-p-box
              .ex-indispensable-tmp
                .ex-sentence
                  価格（半角）
                .ex-indispensable
                  必須
              = form.text_field :price, placeholder:"例）300", class:"ex-p-box", id:"input"
              -# = render "layouts/error_message", locals: {item: @item, column: "price"}
            .ex-p-box#for-error-message
              .ex-divide
                .ex-pbleft
                  販売手数料
                .ex-pbright1
                  
            .ex-p-box
              .ex-divide
                .ex-pbleft
                  販売利益
                .ex-pbright2
                  
        #ex-btn-cont.ex-cont
          %div
            = link_to "禁止されている出品", class:"ex-rule-link"
            、
            = link_to "行為", class:"ex-rule-link"
            を必ずご確認ください。<br>
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", class:"ex-rule-link"
            は犯罪であり処罰される可能性があります。<br>
            また、出品をもちまして
            = link_to "加盟店規約", class:"ex-rule-link"
            に同意したことになります。
          = form.submit "出品する", id:"ex-ship-btn"
          
          = form.submit "戻る", id:"ex-ship-return" 

    = render "posts/footer"

