= render  partial: "/layouts/toppage-header"
.add_payments
  = render  partial: "sidebar"
  .signup4__contents
    .signup4__contents__heading
      支払い方法
    .signup4__contents__main
      = form_with(model: @user, url: signup_index_path, method: :post, local: true ) do |form|
        = form.fields_for :payments do |payment_form|
          .signup4__contents__main__form1
            .signup4__contents__main__form1__heading
              %p カード番号
              %p.essential_icon 必須
            = payment_form.text_field :card_number, placeholder: "半角数字のみ", class: "signup4__contents__main__form1__form"
            .signup4__contents__main__form1__icons
              %i.fab.fa-cc-visa
              %i.fab.fa-cc-mastercard
              %i.fab.fa-cc-jcb
              %i.fab.fa-cc-amex
              %i.fab.fa-cc-diners-club
              %i.fab.fa-cc-discover
          .signup4__contents__main__form2
            .signup4__contents__main__form1__heading
              %p 有効期限
              %p.essential_icon 必須
            .signup4__contents__main__form2__form
              %label.signup4__contents__main__form2__form__select
                = payment_form.select :expire_month, ["01","02","03","04","05","06","07","08","09","10","11","12"]
              %p.signup4__contents__main__form2__form__date 月
              %label.signup4__contents__main__form2__form__select
                = payment_form.select :expire_year, ["19","20","21","22","23","24"] ,{}
              %p.signup4__contents__main__form2__form__date 年
          .signup4__contents__main__form3
            .signup4__contents__main__form1__heading
              %p セキュリティコード
              %p.essential_icon 必須
            = payment_form.text_field :security_code, placeholder: "カード背面4桁もしくは3桁の番号", class: "signup4__contents__main__form3__form"
            .signup4__contents__main__form3__link
              %a{:href => "#"}>
              .signup4__contents__main__form3__link__text
                %i.fas.fa-question-circle
                %a カード裏面の番号とは?
        .signup4__contents__main__submit
          %label
            = form.submit style: "display: none"
            %p.signup4__contents__main__submit__btn 次へ進む
= render  partial: "/layouts/toppage-footer"
