<body>

<%= render "layouts/exhibit-header"%>
<%= form_with do |form| %>
  <div class='ex-main'>
    <div class='ex-container'>
      <div class='ex-cont' id='ex-top-cont'>
        text
      </div>
      <div id='ex-img-cont' class='ex-cont'>
        <div class='ex-indispensable-tmp'>
          <div class='ex-sentence'>
            出品画像
          </div>
          <div class='ex-indispensable'>
            必須
          </div>
        </div>
        <div>
          最大１０枚までアップロードできます
        </div>
        <div class='ex-img-form'>
          <input type="file" name="image_file[]" multiple="multiple" accept="image/*">
        </div>
      </div>

      <div id='ex-item-cont' class='ex-cont'>
        <div class='ex-indispensable-tmp'>
          <div class='ex-sentence'>
            商品名
          </div>
          <div class='ex-indispensable'>
            必須
          </div>
        </div>

        <div>
          
          <%= form.text_field :exname, placeholder:"商品の名前を記入してください（４０文字まで）"%>
          <div class='ex-indispensable-tmp'>
            <div class='ex-sentence'>
              商品の説明
            </div>
            <div class='ex-indispensable'>
              必須
            </div>
          </div>
          <%= form.text_area :exdescription, placeholder:"商品の説明を記入してください（１０００文字まで）" %>
          
        </div>
       
        <div>
        </div>
      </div>

      <div id='ex-item-cont2' class='ex-cont'>
        <div class='ex-blank'>商品の詳細</div>
        <div class='ex-rb'>
          <div class='ex-indispensable-tmp'>
            <div class='ex-sentence'>
              カテゴリー
            </div>
            <div class='ex-indispensable'>
              必須
            </div>
          </div>
          <select class='ex-pulldown'>
          <%= 10.times do %>
          <option>1</option>
          <%end %>
          </select>
          <div class='ex-indispensable-tmp'>
            <div class='ex-sentence'>
              商品の状態
            </div>
            <div class='ex-indispensable'>
              必須
            </div>
          </div>
          <select>
          <%= 10.times do %>
          <option>1</option>
          <%end %>
          </select>
        </div>
      </div>

      <div id='ex-shipping-cont' class='ex-cont'>
        <div class='ex-blank'>発送について</div>
        <div class='ex-rb'>
          <div class='ex-indispensable-tmp'>
            <div class='ex-sentence'>
              配送料の負担
            </div>
            <div class='ex-indispensable'>
              必須
            </div>
            </div>
            <select>
          <%= 10.times do %>
          <option>1</option>
          <%end %>
          </select>
          
          <div class='ex-indispensable-tmp'>
            <div class='ex-sentence'>
              発送元の地域
            </div>
            <div class='ex-indispensable'>
              必須
            </div>
            </div>
            <select>
          <%= 10.times do %>
          <option>1</option>
          <%end %>
          </select>
         

          <div class='ex-indispensable-tmp'>
            <div class='ex-sentence'>
              発送までの日数
            </div>
            <div class='ex-indispensable'>
              必須
            </div>
              
            </div>
            <select>
          <%= 10.times do %>
          <option>1</option>
          <%end %>
          </select>
          
        </div>
      </div>

      <div id='ex-price-cont' class='ex-cont'>
        <div class='ex-blank'>販売価格</div>
        <div class='ex-rb'>
          <div class='ex-p-box' id='ex-p-box'>
            <div class='ex-indispensable-tmp'>
              <div class='ex-sentence'>
                価格
              </div>
              <div class='ex-indispensable'>
                必須
              </div>
            </div>

              <%= form.text_field :price_field, placeholder:"例）300"%>

          </div>
          <div class='ex-p-box' id='ex-border-box'>
            <div class='ex-divide' >
              <div class='ex-pbleft'>
                販売手数料
              </div>
              <div class='ex-pbright'>
                ¥¥¥
              </div>
            </div>
          </div>  
          <div class='ex-p-box'>
            <div class='ex-divide' >
              <div class='ex-pbleft'>
                販売利益
              </div>
              <div class='ex-pbright'>
                ¥¥¥
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div id='ex-btn-cont' class='ex-cont'>
        <div>
          規約文
        </div>
        <button type="submit" id='ex-ship-btn'><p class='ex-btn-fs'>出品する</p></button>
        <button type="submit" id='ex-ship-return'><p class='ex-btn-fs'>戻る</p></button>
      </div>
    </div>
  </div>

  <%= render "layouts/exhibit-footer"%>
  <% end %>
</body>
