<body>
  <div class='pi-top'>本人情報の登録</div>
  <div class='personal-info-main'>
    
    <div class='pi-p'>
      <div>
        お客さまの本人情報をご登録ください。<br>
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      </div>

      <%= link_to "本人確認書類のアップロードについて","#",id:'pi-up'%>

    </div>

    <div class='name-birth'>
      <div>
        お名前  name
      </div>
      <div>
        田中太郎
      </div>
    </div>

    <div class='name-birth'>
      <div>
        お名前カナ 
      </div>
      <div>
        タナカタロウ
      </div>
    </div>

    <div class='name-birth'>
      <div>
        生年月日
      </div>
      <div>
        2000/01/01
      </div>
    </div>

      <%= form_with do |form| %>
      <div>
        <div class='flex'><div>郵便番号</div><div class='ninni'>任意</div></div>
        <%= form.text_field :addresnum, placeholder: "例）1234567" %>
      </div>
      <div>
        <div class='flex'> <div>都道府県</div><div class='ninni'>任意</div></div>
        <%= form.select :prefecture, "都道府県" %>
      </div>
      <div>
        <div class='flex'><div>市区町村</div><div class='ninni'>任意</div></div>
        <%= form.text_field :addresnum, placeholder: "例）横丘市" %>
      </div>

      <div>
        <div class='flex'><div>番地</div><div class='ninni'>任意</div></div>
        <%= form.text_field :addresnum, placeholder: "例）青い山１−１−１" %>
      </div>

      <div>
        <div class='flex'><div>建物名</div><div class='ninni'>任意</div></div>
        <%= form.text_field :addresnum, placeholder: "例）紅いビル２０１" %>
      </div>
      <%= form.submit "登録する", id:'post' %>
      <% end %>
      <div class='pi-post'>
      <%= link_to "本人情報の登録について","#",id:'pi-post'%>
      <div>
  </div>
</body>

