= render "layouts/toppage-header"
%section.items-show
  .items-show__name
    ”商品名”
  %p.items-show__comment
    『”商品名”』は、”取引回数”
    回の取引実績を持つ”ユーザー名”から出品されました。
    ブランド名（カテゴリー）の商品で、”都道府県”から”配送期間”
    で発送されます。
  .items-show__description
    .items-show__description__left
      .items-show__description__left__main
        = image_tag "sample.jpg", class: :"items-show__description__left__main__image"
      .items-show__description__left__many
        .items-show__description__left__many__top
          - 5.times do
            = image_tag "sample.jpg", class: :"items-show__description__left__many__low__image"
        .items-show__description__left__many__low
          - 5.times do
            = image_tag "sample.jpg", class: :"items-show__description__left__many__low__image"
    %table.items-show__description__table
      %tr
        %th
          出品者
        %td
          = link_to "ユーザー名", "#", class: :"items-show__description__table__link"
          .items-show__description__table__face
            %i.fas.fa-laugh.items-show__description__table__face__smile
            %i.fas.fa-meh.items-show__description__table__face__normal
            %i.fas.fa-tired.items-show__description__table__face__bad
      %tr
        %th
          カテゴリー
        %td
          レディース
          %br>/
          トップス
          %br>/
          カットソー
          %br>/
          袖なし
      %tr
        %th
          ブランド
        %td ラフ
      %tr
        %th
          商品のサイズ
        %td ”サイズ”
      %tr
        %th
          商品の状態
        %td ”商品のステータス”
      %tr
        %th
          配送料の負担
        %td 送料込
      %tr
        %th
          配送の方法
        %td ”配送方法”
      %tr
        %th
          配送元地域
        %td= link_to "都道府県", "#", class: :"items-show__description__table__link"
      %tr
        %th
          配送日の目安
        %td ”配送予定”
  .items-show__price
    %span.items-show__price__yen ¥4,800
    %span.items-show__price__tax （税込）
    %span.items-show__price__fee 送料込み
  .items-show__deal
    = link_to "購入画面に進む", "#", class: :"items-show__deal__box"
  .items-show__tweet
    %p.items-show__tweet__top
      〇白いTシャツ
      %br/
      ブランド ラフ
      %br/
      サイズ フリー
      %br/
      平置きで横幅約46センチ、着丈約54センチ
      %br/
      〇赤いTシャツ
      %br/
      ノーブランド
      %br/
      サイズ S〜Mくらい（表示なし）
      %br/
      平置きで横幅約40センチ、着丈約51センチ
      %br/
      %br/
      2枚セットです。1枚ずつ不可です。あまり着てないので状態は良いと思います。スーパーマン好きの方ぜひ。
      %br/
      %br/
      ※プロフィール必読でお願い致します。
      %br/
      %br/
      グローバルワーク
      %br/
      ローリーズファーム
      %br/
      レプシィム
      %br/
      スタジオクリップ
    .items-show__tweet__low
      %ul.items-show__tweet__low__left
        %li
          = link_to "#", class: :"items-show__tweet__low__left__btn" do
            %span.far.fa-heart.items-show__tweet__low__left__btn__like いいね
        %li
          = link_to "#", class: :"items-show__tweet__low__left__btn" do
            %span.far.fa-flag.items-show__tweet__low__left__btn__noti 不適切な商品の報告
      .items-show__tweet__low__right
        = link_to "#", class: :"items-show__tweet__low__right__btn" do
          %span.fas.fa-lock.items-show__tweet__low__right__btn__safe あんしん・あんぜんへの取り組み
.item-show-comments
  .item-show-comments__box
    = form_with(model: @user, local: true) do |form|
      %h1.comments-withdraw
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form.text_area :introduction
      = form.submit "コメントする", id: "comment-area"
%ul.items-show-page
  %li
    = link_to "#", class: :"items-show-page__left" do
      %span.fas.fa-chevron-left 前の商品
  %li
    = link_to "#", class: :"items-show-page__right" do
      次の商品
      %span.fas.fa-chevron-right
.items-show-icon
  %ul.items-show-icon__box
    %li
      = link_to "#", class: :"items-show-icon__box__link" do
        %span.fab.fa-facebook-square.fa-3x.items-show-icon__box__link__facebook
    %li
      = link_to "#", class: :"items-show-icon__box__link" do
        %span.fab.fa-twitter-square.fa-3x.items-show-icon__box__link__twitter
    %li
      = link_to "#", class: :"items-show-icon__box__link" do
        %span.fab.fa-line.fa-3x.items-show-icon__box__link__line
    %li
      = link_to "#", class: :"items-show-icon__box__link" do
        %span.fab.fa-pinterest.fa-3x.items-show-icon__box__link__pinterest
- 2.times do
  .itemshow
    .itemshow__title
      = link_to "ユーザー名さんのその他の出品", "#", class: :"itemshow__title__link"
    .itemshow__top
      = render "show.image.top"
    .itemshow__top
      = render "show.image.lower"
    %div
.items-show-footer
  %ul.items-show-footer__link
    %li
      = link_to "メリカリ", "#", class: :"items-show-footer__link__left"
      %span.fas.fa-chevron-right.items-show-footer__link__center
    %li= link_to "ブランド", "#", class: :"items-show-footer__link__right"
= render "layouts/toppage-footer"
