<div class="items-show">

  <div class="items-show__name">
    ”商品名”
  </div>
  <div class="items-show__comment">
    <p>『”商品名”』は、”取引回数”
    回の取引実績を持つ”ユーザー名”から出品されました。
    ブランド名（カテゴリー）の商品で、”都道府県”から”配送期間”
    で発送されます。</p>
  </div>

  <div class="items-show__description">
    <div class="items-show__description__left">
      <div class="items-show__description__left__main" >
      <div class="items-show__description__left__many">
        
          <div class="items-show__description__left__many__images">
            <%= image_tag "sample.jpg" %>
          </div>
        
      </div>
    </div>

    <div class="items-show__description__right">
       <div class="items-show__description__right__culumn">
       </div>
       <div class="items-show__description__right__info">
       </div>
    </div>
  </div>

  <div class="items-show__price">
    <div class="items-show__price__yen">
      ¥4,800
      <div class="items-show__price__yen__tax">
        （税込）<span>送料込</span>
      </div>
    </div>
  </div>

  <div class="items-show__deal">
    <%= link_to "購入画面に進む", "#", class: :"items-show__deal__box" %>
  </div>

  <div class="items-show__comment">
    <div class="items-show__comment__top">
      
      kjfaldjfkajdfjakfjakjfkjadkjfakljfkajdskfjakljfklajfklajdslkfjalkjdfklajkfa
    </div>
    <div class="items-show__comment__low">
      <%= link_to "いいね", "#", class: :"items-show__comment__low__btn" %>
      <%= link_to "不適切な商品の報告", "#", class: :"items-show__comment__low__btn" %>
      <%= link_to "あんしん・あんぜんへの取り組み", "#", class: :"items-show__comment__low__btn" %>
    </div>
  </div>
</div>

<ul class="items-show__page">
  <li><%= link_to "@post.name", "#", class: :"items-show__page__link" %></li>
  <li><%= link_to "@post.name", "#", class: :"items-show__page__link" %></li>
</ul>

<div class="items-show__icon">
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
</div>

<div class="items-show__other">
  <div class="items-show__other__desc">
    <h1 class="items-show__other__desc__title">
      ”ユーザー名”さんのその他の出品
    </h1>
    <div class="items-show__other__desc__image-one">
      
       <h1 class="items-show__other__desc__image-one__name">”商品名”/h1>
        <ul>
          <li>”値段”</li>
          <li>いいね</li>
        </ul>

    </div>
    <div class="items-show__other__desc__image-two">
      
        <h1 class="items-show__other__desc__image-one__name">”商品名”</h1>
        <ul>
          <li>”値段”</li>
          <li>いいね</li>
        </ul>
     
    </div>
  </div>
  <div class="items-show__other__desc">
    <h1 class="items-show__other__desc__title">
      ブランドの”商品名”その他の商品
    </h1>
    <div class="items-show__other__desc__image-one">
      
       <h1 class="items-show__other__desc__image-one__name">”商品名”</h1>
        <ul>
          <li>”値段”</li>
          <li>いいね</li>
        </ul>
      
    </div>
    <div class="items-show__other__desc__image-two">
     
        <h1 class="items-show__other__desc__image-one__name">”商品名”</h1>
        <ul>
          <li>”値段”</li>
          <li>いいね</li>
        </ul>
     
    </div>
  </div>
</div>

<div class="items-show__footer">
  <ul>
    <li><%= link_to "メリカリ", "#" %></li>
    <li><%= link_to "ブランド", "#" %></li>
  </ul>   
</div>