
<section class="items-show">

  <div class="items-show__name">
    ”商品名”
  </div>
  <p class="items-show__comment">
  『”商品名”』は、”取引回数”
    回の取引実績を持つ”ユーザー名”から出品されました。
    ブランド名（カテゴリー）の商品で、”都道府県”から”配送期間”
    で発送されます。
  </p>

  <div class="items-show__description">
    <div class="items-show__description__left">
      <div class="items-show__description__left__main" >
        <%= image_tag "sample.jpg", class: :"items-show__description__left__main__image" %>
      </div>
      <div class="items-show__description__left__many">
        <div class="items-show__description__left__many__top">
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
        </div>
        <div class="items-show__description__left__many__low">
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
        </div>
      </div>
    </div>

    
    <table class="items-show__description__table" >
      <tr>
        <th>出品者</td>
        <td>
          <%= link_to "ユーザー名", "#", class: :"items-show__description__table__link" %>
          <div class="items-show__description__table__face">
            <i class="fas fa-laugh items-show__description__table__face__smile"></i>
            <i class="fas fa-meh items-show__description__table__face__normal"></i>
            <i class="fas fa-tired items-show__description__table__face__bad"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th>カテゴリー</td>
        <td>レディース<br>トップス<br>カットソー<br>袖なし</td>
      </tr>
      <tr>
        <th>ブランド</td>
        <td>ラフ</td>
      </tr>
      <tr>
        <th>商品のサイズ</td>
        <td>”サイズ”</td>
      </tr>
      <tr>
        <th>商品の状態</td>
        <td>”商品のステータス”</td>
      </tr>
      <tr>
        <th>配送料の負担</td>
        <td>送料込</td>
      </tr>
      <tr>
        <th>配送の方法</td>
        <td>”配送方法”</td>
      </tr>
      <tr>
        <th>配送元地域</td>
        <td>”プリフィクちゃー”</td>
      </tr>
      <tr>
        <th>配送日の目安</td>
        <td>”配送予定”</td>
      </tr>
    </table>
  </div>


  <div class="items-show__price">
    <span class="items-show__price__yen">¥4,800</span>
    <span class="items-show__price__tax">（税込）</span>
    <span class="items-show__price__fee">送料込み</span>
  </div>

  <div class="items-show__deal">
    <%= link_to "購入画面に進む", "#", class: :"items-show__deal__box" %>
  </div>

  <div class="items-show__comment">
    <p class="items-show__comment__top">
      〇白いTシャツ<br>
      ブランド ラフ<br>
      サイズ フリー<br>
      平置きで横幅約46センチ、着丈約54センチ<br>
      〇赤いTシャツ<br>
      ノーブランド<br>
      サイズ S〜Mくらい（表示なし）<br>
      平置きで横幅約40センチ、着丈約51センチ<br><br>

      2枚セットです。1枚ずつ不可です。あまり着てないので状態は良いと思います。スーパーマン好きの方ぜひ。<br><br>

      ※プロフィール必読でお願い致します。<br><br>

      グローバルワーク<br>
      ローリーズファーム<br>
      レプシィム<br>
      スタジオクリップ
    </p>
    <div class="items-show__comment__low">
      <ul class="items-show__comment__low__left">
        <li><%= link_to "#", class: :"items-show__comment__low__left__btn" do %>
          <span class="far fa-heart items-show__comment__low__left__btn__like"> いいね</span>
        <% end %></li>
        <li><%= link_to "#", class: :"items-show__comment__low__left__btn" do %>
          <span class="far fa-flag items-show__comment__low__left__btn__noti"> 不適切な商品の報告</span>
        <% end %></li>
      </ul>
      <div class="items-show__comment__low__right">
        <%= link_to "#", class: :"items-show__comment__low__right__btn" do %>
          <span class="fas fa-lock items-show__comment__low__right__btn__safe"> あんしん・あんぜんへの取り組み</span>
      <% end %></div>
    </div>
  </div>
</section>

<ul class="items-show-page">
  <li><%= link_to "#", class: :"items-show-page__left" do %>
    <span class="fas fa-chevron-left ">前の商品</span>
  <% end %></li>
  <li><%= link_to "#", class: :"items-show-page__right" do %>
    次の商品<span class="fas fa-chevron-right"></span>
  <% end %></li>
</ul>

<div class="items-show-icon">
  <ul class="items-show-icon__box">
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-facebook-square fa-3x items-show-icon__box__link__facebook"></span>
    <% end %></li>
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-twitter-square fa-3x items-show-icon__box__link__twitter"></span>
    <% end %></li>
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-line fa-3x items-show-icon__box__link__line"></span>
    <% end %></li>
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-pinterest fa-3x items-show-icon__box__link__pinterest"></span>
    <% end %></li>
  </ul>
</div>

<div class="itemshow">
  <div class="itemshow__title">
    <%= link_to "ユーザー名さんのその他の出品", "#", class: :"itemshow__title__link" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
  </div>
<div>

<div class="itemshow">
  <div class="itemshow__title">
    <%= link_to "ブランド名さんのその他の出品", "#", class: :"itemshow__title__link" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
  </div>
<div>

<div class="items-show-footer">
  <ul class="items-show-footer__link">
    <li><%= link_to "メリカリ", "#", class: :"items-show-footer__link__left" %>
       <span class="fas fa-chevron-right items-show-footer__link__center"></span></li>
    <li><%= link_to "ブランド", "#", class: :"items-show-footer__link__right" %></li>
  </ul>   
</div>
=======
<body>
  <header class= sign-up-header>
    <div class= head-logo>
       <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08" x="0px" y="0px" width="180px" height="50px"><defs><style>.cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 3</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>
      </a>
    </div> 
  </header>
  <div class= sign-up-main>
    <div class= sign-up-area>
      <div class= sign-up-area-top>
      新規会員登録
      </div>
      <div class= sign-up-area-bottom>
      　<a href="#" style="text-decoration:none;">
        <div class= sign-up-btn-mail>
          <i class="far fa-envelope sign-up-btn-mail__icon"></i>
          <div class= sign-up-btn-mail__text>メールアドレスで登録する</div>
        </div>
        </a>
        <a href="#" style="text-decoration:none;">
        <div class= sign-up-btn-fb>
          <i class="fab fa-facebook-square sign-up-btn-fb__icon"></i>
          <div class= sign-up-btn-fb__text>Facebookで登録する</div>
        </div>
        </a>
        <a href="#" style="text-decoration:none;">
        <div class= sign-up-btn-google>
          <i class="fab fa-google-plus-g sign-up-btn-google__icon"></i>
          <div class= sign-up-btn-google__text>Googleで登録する</div>
        </div>
         </a>
      </div>
    </div>
  </div>
  <footer class= sign-up-footer>
    <div class= footer-contents>
      <div class= rules>
        <a href="#" style="text-decoration:none;" color: black>
          <div class= rule>プライバシーポリシー</div>
        </a>
        <a href="#" style="text-decoration:none;">
          <div class= rule>メルカリ利用規約</div>
        </a>
        <a href="#" style="text-decoration:none;">
          <div class= rule>特定取引に関する表記</div>
        </a>
      </div>
      <div class= foot-logo>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 147.09 129.96"x="0px" y="0px" width="180px" height="80px"><defs><style>.cls-3,.cls-4{fill:#231815;stroke-miterlimit:10;opacity:0.19;}.cls-3{stroke:#fff;}.cls-4{font-size:36px;stroke:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 13</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-3" points="71.54 83.5 35.63 62.77 35.63 21.31 71.54 0.58 107.45 21.31 107.45 62.77 71.54 83.5"/><polyline class="cls-3" points="35.63 21.31 71.54 42.04 107.45 21.31"/><polyline class="cls-3" points="71.54 83.5 71.54 49.36 71.54 42.04"/><line class="cls-3" x1="71.54" y1="52.41" x2="35.63" y2="31.67"/><line class="cls-3" x1="107.45" y1="33.2" x2="71.54" y2="50.88"/><text class="cls-4" transform="translate(0.5 117.04)">Fmarket</text></g></g></svg>
      </div>
      <div class=copy-right>©️Mercari,inc</div>
    </div>
  </footer>
</body>
