<div class="items-show">

  <div class="items-show__name">
    <%= @post.name %>
  </div>
  <div class="items-show__comment">
    <p>『<%= @post.name %>』は、<%= @post.user_id.length %>
    回の取引実績を持つ<%= @post.user.name %>から出品されました。
    ブランド名（カテゴリー）の商品で、<%= @post.user.prefecture %>から<%= @post.send_date %>
    で発送されます。</p>
  </div>

  <div class="items-show__description">
    <div class="items-show__description__left">
      <div class="items-show__description__left__main" style="background-image: url(<%= @image.post %>);">
      <div class="items-show__description__left__many">
        <% @images.each do |image| %>
          <div class="items-show__description__left__many__images" style="background-image: url(<%= image %>);">
        <% end %>
      </div>
    </div>

    <div class="items-show__description__right">
       <div class="items-show__description__right__culumn">
       </div>
       <div class="items-show__description__right__info">
       </div>
    </div>
  </div>

  <div class="items-show__price">
    <div class="items-show__price__yen">
      ¥<%= @post.price %>
      <div class="items-show__price__yen__tax">
        （税込）<span><%= @post.send_fee %></span>
      </div>
    </div>
  </div>

  <div class="items-show__deal">
    <%= link_to "購入画面に進む", "#", class: :"items-show__deal__box" %>
  </div>

  <div class="items-show__comment">
    <div class="items-show__comment__top">
      <%= simple_format @post.comment %>
    </div>
    <div class="items-show__comment__low">
      <%= link_to "いいね! @post.linkes.count", "#", "items-show__comment__low__btn" %>
      <%= link_to "不適切な商品の報告", "#", "items-show__comment__low__btn" %>
      <%= link_to "あんしん・あんぜんへの取り組み", "#", "items-show__comment__low__btn" %>
    </div>
  </div>
</div>

<ul class="items-show__page">
  <li><%= link_to "@post.name", "#", class: :"items-show__page__link" %></li>
  <li><%= link_to "@post.name", "#", class: :"items-show__page__link" %></li>
</ul>

<div class="items-show__icon">
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
  <%= link_to "#", "#", class: :"items-show__icon__btn" %>
</div>

<div class="items-show__other">
  <div class="items-show__other__desc">
    <h1 class="items-show__other__desc__title">
      <%= @post.user.name %>さんのその他の出品
    </h1>
    <div class="items-show__other__desc__image-one">
      <% @post.image[1..3].each do |image| %>
       <h1 class="items-show__other__desc__image-one__name"><%= @post.name %></h1>
        <ul>
          <li><%= @post.price %></li>
          <li>いいね</li>
        </ul>
      <% end %>
    </div>
    <div class="items-show__other__desc__image-two">
      <% @post.image[4..6].each do |image| %>
      　　<h1 class="items-show__other__desc__image-one__name"><%= @post.name %></h1>
        <ul>
          <li><%= @post.price %></li>
          <li>いいね</li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="items-show__other__desc">
    <h1 class="items-show__other__desc__title">
      ブランドの<%= @post.name %>その他の商品
    </h1>
    <div class="items-show__other__desc__image-one">
      <% @post.image[1..3].each do |image| %>
       <h1 class="items-show__other__desc__image-one__name"><%= @post.name %></h1>
        <ul>
          <li><%= @post.price %></li>
          <li>いいね</li>
        </ul>
      <% end %>
    </div>
    <div class="items-show__other__desc__image-two">
      <% @post.image[4..6].each do |image| %>
      　　<h1 class="items-show__other__desc__image-one__name"><%= @post.name %></h1>
        <ul>
          <li><%= @post.price %></li>
          <li>いいね</li>
        </ul>
      <% end %>
    </div>
  </div>

　<div class="items-show__footer">
   <ul>
     <li><%= link_to "メリカリ", "#" %></li>
     <li><%= link_to "ブランド", "#" %></li>
   </ul>   
  </div>

</div>