
<section class="items-show">

  <div class="items-show__name">
    ”商品名”
  </div>
  <p class="items-show__comment">
  『”商品名”』は、”取引回数”
    回の取引実績を持つ”ユーザー名”から出品されました。
    ブランド名（カテゴリー）の商品で、”都道府県”から”配送期間”
    で発送されます。
  </p>

  <div class="items-show__description">
    <div class="items-show__description__left">
      <div class="items-show__description__left__main" >
        <%= image_tag "sample.jpg", class: :"items-show__description__left__main__image" %>
      </div>
      <div class="items-show__description__left__many">
        <div class="items-show__description__left__many__top">
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__top__image" %>
        </div>
        <div class="items-show__description__left__many__low">
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
          <%= image_tag "sample.jpg", class: :"items-show__description__left__many__low__image" %>
        </div>
      </div>
    </div>

    
    <table class="items-show__description__table" >
      <tr>
        <th>出品者</td>
        <td>
          <%= link_to "ユーザー名", "#", class: :"items-show__description__table__link" %>
          <div class="items-show__description__table__face">
            <i class="fas fa-laugh items-show__description__table__face__smile"></i>
            <i class="fas fa-meh items-show__description__table__face__normal"></i>
            <i class="fas fa-tired items-show__description__table__face__bad"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th>カテゴリー</td>
        <td>レディース<br>トップス<br>カットソー<br>袖なし</td>
      </tr>
      <tr>
        <th>ブランド</td>
        <td>ラフ</td>
      </tr>
      <tr>
        <th>商品のサイズ</td>
        <td>”サイズ”</td>
      </tr>
      <tr>
        <th>商品の状態</td>
        <td>”商品のステータス”</td>
      </tr>
      <tr>
        <th>配送料の負担</td>
        <td>送料込</td>
      </tr>
      <tr>
        <th>配送の方法</td>
        <td>”配送方法”</td>
      </tr>
      <tr>
        <th>配送元地域</td>
        <td>”プリフィクちゃー”</td>
      </tr>
      <tr>
        <th>配送日の目安</td>
        <td>”配送予定”</td>
      </tr>
    </table>
  </div>


  <div class="items-show__price">
    <span class="items-show__price__yen">¥4,800</span>
    <span class="items-show__price__tax">（税込）</span>
    <span class="items-show__price__fee">送料込み</span>
  </div>

  <div class="items-show__deal">
    <%= link_to "購入画面に進む", "#", class: :"items-show__deal__box" %>
  </div>

  <div class="items-show__comment">
    <p class="items-show__comment__top">
      〇白いTシャツ<br>
      ブランド ラフ<br>
      サイズ フリー<br>
      平置きで横幅約46センチ、着丈約54センチ<br>
      〇赤いTシャツ<br>
      ノーブランド<br>
      サイズ S〜Mくらい（表示なし）<br>
      平置きで横幅約40センチ、着丈約51センチ<br><br>

      2枚セットです。1枚ずつ不可です。あまり着てないので状態は良いと思います。スーパーマン好きの方ぜひ。<br><br>

      ※プロフィール必読でお願い致します。<br><br>

      グローバルワーク<br>
      ローリーズファーム<br>
      レプシィム<br>
      スタジオクリップ
    </p>
    <div class="items-show__comment__low">
      <ul class="items-show__comment__low__left">
        <li><%= link_to "#", class: :"items-show__comment__low__left__btn" do %>
          <span class="far fa-heart items-show__comment__low__left__btn__like"> いいね</span>
        <% end %></li>
        <li><%= link_to "#", class: :"items-show__comment__low__left__btn" do %>
          <span class="far fa-flag items-show__comment__low__left__btn__noti"> 不適切な商品の報告</span>
        <% end %></li>
      </ul>
      <div class="items-show__comment__low__right">
        <%= link_to "#", class: :"items-show__comment__low__right__btn" do %>
          <span class="fas fa-lock items-show__comment__low__right__btn__safe"> あんしん・あんぜんへの取り組み</span>
      <% end %></div>
    </div>
  </div>
</section>

<ul class="items-show-page">
  <li><%= link_to "#", class: :"items-show-page__left" do %>
    <span class="fas fa-chevron-left ">前の商品</span>
  <% end %></li>
  <li><%= link_to "#", class: :"items-show-page__right" do %>
    次の商品<span class="fas fa-chevron-right"></span>
  <% end %></li>
</ul>

<div class="items-show-icon">
  <ul class="items-show-icon__box">
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-facebook-square fa-3x items-show-icon__box__link__facebook"></span>
    <% end %></li>
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-twitter-square fa-3x items-show-icon__box__link__twitter"></span>
    <% end %></li>
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-line fa-3x items-show-icon__box__link__line"></span>
    <% end %></li>
    <li><%= link_to "#", class: :"items-show-icon__box__link" do %>
      <span class="fab fa-pinterest fa-3x items-show-icon__box__link__pinterest"></span>
    <% end %></li>
  </ul>
</div>

<div class="itemshow">
  <div class="itemshow__title">
    <%= link_to "ユーザー名さんのその他の出品", "#", class: :"itemshow__title__link" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
    <%= render "show.image.top" %>
  </div>
<div>

<div class="itemshow">
  <div class="itemshow__title">
    <%= link_to "ブランド名さんのその他の出品", "#", class: :"itemshow__title__link" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
  </div>
  <div class="itemshow__top">
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
    <%= render "show.image.lower" %>
  </div>
<div>

<div class="items-show-footer">
  <ul class="items-show-footer__link">
    <li><%= link_to "メリカリ", "#", class: :"items-show-footer__link__left" %>
       <span class="fas fa-chevron-right items-show-footer__link__center"></span></li>
    <li><%= link_to "ブランド", "#", class: :"items-show-footer__link__right" %></li>
  </ul>   
</div>
=======
<body>
  <header>
    <div class= brand>
      <div class= brand__icon>
      ロゴ
      </div>
      <div class= brand__name>
      mercari
      </div>
    </div>
  </header>
  <main class=sign-up>
    <div class= sign-up__top>
    新規会員登録
    </div>
    <div class= sign-up__bottom>
      <div>
      <div>メールロゴ</div>
      <div>メールアドレスで登録する</div>
      </div>
      <div>Facebookで登録する</div>
      <div>Googleで登録する</div>
    </div>
  </main>
  <footer>
    <div>
      <div>プライバシーポリシー</div>
      <div>メルカリ利用規約</div>
      <div>特定取引に関する表記</div>
    </div>
    <div>
      <div>ロゴ</div>
      <div>mercari</div>
    </div>
    <div>2019 Mercari</div>
  </footer>
</body>
