<!DOCTYPE html>
<html>
   <head>
    <title>FreemarketSample64d</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <body>
      <header class="header">
        <div class="header-lists">
          <div class="header-lists-top">
               <div class="header-lists-top-left">
                  <div class="header-lists-top-left-logo">
                  <svg class="http://www.w3.org/2000/svg" viewBox="0 0 
                    281.19 84.08" x="0" y="0" width="130x"height="30px">
                     <defs>
                       <style>.cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}
                       </style>
                       </defs>
                     <title>アセット 3</title>
                     <g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1">
                  <polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/>
                  <polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/>
                  <polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/>
                  <line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/>
                  <line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/>
                  <text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text>
                  </g>
                  </g>
                  </svg>
                  </div>
              </div> 
              <form action="/jp/search/" class="navbar">
                <input type="search" name="keyword" placeholder="何かお探しですか？" class="navbar-serch" value="">
                <button class="navbar-button">
                  <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="navbar-button-mark">
                    <path fill="currentColor" fill-rule="nonzero" d="M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z">
                    </path>
                  </svg>
                </button>
              </form>
            </div>
          <div class="header-lists-low">
            <div class="header-lists-low-left">
              <div class="header-lists-low-left-categorybox">
                <a href="/jp/category/" class="category">
                        <svg aria-hidden="true" width="20" height="16" viewBox="0 0 20 16" class="category-logo">
                        <path fill="currentColor" fill-rule="nonzero" d="M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-
                          11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-
                          11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1
                          0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 
                          0 0-4 2 2 0 0 0 0 4z">
                        </path>
                    </svg>
                        カテゴリーから探す
                    </a>
                </div>
                <div class="header-lists-low-left-brandbox">
                  <a href="/jp/brand/" class="brand">
                    <svg aria-hidden="true" width="23" height="16" viewBox="0 0 23 16" class="brand-logo">
                      <path fill="currentColor" fill-rule="nonzero" d="M6.315 0L4.473
                        1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594
                        4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08
                        3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0
                        1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z">
                      </path>
                    </svg>
                      ブランドから探す
                   </a>
                  </div>
                  </div>
                  <div class="header-lists-low-right">
                    <div class="header-lists-low-right-newmenberbox">
                      <a href="/users/sign up" class="newmember">新規会員登録</a>
                    </div>
                    <div class="header-lists-low-right-loginbox">
                     <a href="/users/log in" class="login">ログイン</a>
                    </div>
            </div>
           </div>
          </div>
       </div>
    </header>
    <div class="camera">
      <a class="camera-exhibit" href='#'>出品
        <div class="camera-exhibit-image">
          <i class="fas fa-camera"></i>
      </a>
      </div>
    </div>


    <footer class="footer">
      <nav class="footer-cells">
        <div class="footer-cell">
          <h2 class="footer-head">メルカリについて</h2>
          <ul>
            <li><a href="#">会社概要（運営会社</a></li>
            <li><a href="#">採用情報</a></li>
            <li><a href="#">プレスリリース</a></li>
            <li><a href="#">公式ブログ</a></li>
            <li><a href="#">メルカリロゴ利用ガイドライン</a></li>
          </ul>
        </div>
        <div class="footer-cell">
          <h2 class="footer-head">ヘルプ＆ガイド</h2>
          <ul>
            <li><a href="#">らくらくメルカリ便</a></li>
            <li><a href="#">ゆうゆうメルカリ便</a></li>
            <li><a href="#">大型メルカリ便</a></li>
            <li><a href="#">車体取引ガイド</a></li>
            <li><a href="#">メルカリあんしん・あんぜん宣言！</a></li>
            <li><a href="#">偽ブランド品撲滅への取り組み</a></li>
            <li><a href="#">メルカリボックス</a></li>
          </ul>
        </div>
        <div class="footer-cell full-width">
          <h2 class="footer-head">プライバシーと利用規約</h2>
          <div class="inner-footer-cell">
            <ul>
              <li><a href="#">プライバシーポリシー</a></li>
              <li><a href="#">メルカリ利用規約</a></li>
              <li><a href="#">あんしんスマホサポート制度に関する利用特約</a></li>
              <li><a href="#">コンプライアンスポリシー</a></li>
            </ul>
          </div>
          <div class="inner-footer-cell">
            <ul>
              <li><a href="#">個人データの安全管理に係る基本方針</a></li>
              <li><a href="#">特定商取引に関する表記</a></li>
              <li><a href="#">資金決済法に基づく表示</a></li>
              <li><a href="#">法令順守と犯罪抑止のために</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-cell footer-nav-lang">
        <h2 class="footer-head">国</h2>
        <ul>
          <li><a href="#">日本</a></li>
          <li><a href="#">United States</a></li>
        </ul>
        </div>
      </nav>
      <div class="header-bottom">
        <a href="https://www.mercari.com/jp/" class="footer-logo">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08" x="0" y="0" width="130x"height="30px">
           <defs>
           <style>.cls-3{fill:#fff;stroke:#b53d22;stroke-miterlimit:10;}.cls-4{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style>
           </defs>
           <title>アセット 1</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-3" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/>
           <polyline class="cls-3" points="0.5 21.31 36.41 42.04 72.32 21.31"/>
           <polyline class="cls-3" points="36.41 83.5 36.41 49.36 36.41 42.04"/>
           <line class="cls-3" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/>
           <line class="cls-3" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/>
           <text class="cls-4" transform="translate(86.41 62.77)">Fmarket</text>
           </g>
           </g>
          </svg>
        </a>
        <span class="copyright">
         <p><small>&copy;Fmarket,Inc</small></p>
        </div>
    </footer>
    <%= yield %>
 </body>
</html>
 